# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [4]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|')  
print(users.head(10))

   user_id  age gender     occupation zip_code
0        1   24      M     technician    85711
1        2   53      F          other    94043
2        3   23      M         writer    32067
3        4   24      M     technician    43537
4        5   33      F          other    15213
5        6   42      M      executive    98101
6        7   57      M  administrator    91344
7        8   36      M  administrator    05201
8        9   29      M        student    01002
9       10   53      M         lawyer    90703

In [5]:
users.info( )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     943 non-null    int64
 1   age         943 non-null    int64
 2   gender      943 non-null    object
 3   occupation  943 non-null    object
 4   zip_code    943 non-null    object
dtypes: int64(2), object(3)
memory usage: 37.0+ KB

### Step 4. Discover what is the mean age per occupation

In [6]:
mean_age = users.groupby("occupation")["age"].mean()
round(mean_age)

occupation
administrator    39.0
artist           31.0
doctor           44.0
educator         42.0
engineer         36.0
entertainment    29.0
executive        39.0
healthcare       42.0
homemaker        33.0
lawyer           37.0
librarian        40.0
marketing        38.0
none             27.0
other            35.0
programmer       33.0
retired          63.0
salesman         36.0
scientist        36.0
student          22.0
technician       33.0
writer           36.0
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [7]:
count_users  = users.groupby("occupation")['gender'].value_counts()

In [8]:
count_users.sum()

943

In [9]:
male_counts =count_users.loc[:, "M"]

In [10]:
male_counts.sum()

670

In [11]:
male_ratio_per_occupation = male_counts / count_users
male_ratio_per_occupation.sort_values(ascending=False)

occupation     gender
engineer       F         32.500000
technician     F         26.000000
retired        F         13.000000
programmer     F         10.000000
executive      F          9.666667
scientist      F          9.333333
entertainment  F          8.000000
lawyer         F          5.000000
salesman       F          3.000000
educator       F          2.653846
student        F          2.266667
other          F          1.916667
marketing      F          1.600000
writer         F          1.368421
none           F          1.250000
administrator  F          1.194444
artist         F          1.153846
scientist      M          1.000000
salesman       M          1.000000
other          M          1.000000
retired        M          1.000000
student        M          1.000000
technician     M          1.000000
programmer     M          1.000000
writer         M          1.000000
administrator  M          1.000000
none           M          1.000000
marketing      M          1.000000
lawyer         M          1.000000
homemaker      M          1.000000
healthcare     M          1.000000
executive      M          1.000000
entertainment  M          1.000000
engineer       M          1.000000
educator       M          1.000000
doctor         M          1.000000
artist         M          1.000000
librarian      M          1.000000
               F          0.758621
healthcare     F          0.454545
homemaker      F          0.166667
Name: count, dtype: float64

#### Step 6 : For each occupation calculate the minimum and maximum ages

In [12]:
users.groupby("occupation")["age"].agg([min, max])

C:\Users\User\AppData\Local\Temp\ipykernel_15900\3142747573.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  users.groupby("occupation")["age"].agg([min, max])
C:\Users\User\AppData\Local\Temp\ipykernel_15900\3142747573.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  users.groupby("occupation")["age"].agg([min, max])

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

### Step 7. For each combination of occupation and gender, calculate the mean age

In [13]:
users.groupby(["occupation", "gender"])["age"].mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

How many women and men for each occupation? How xan I present that?

In [14]:
users.groupby("occupation")['gender'].value_counts()

occupation     gender
administrator  M          43
               F          36
artist         M          15
               F          13
doctor         M           7
educator       M          69
               F          26
engineer       M          65
               F           2
entertainment  M          16
               F           2
executive      M          29
               F           3
healthcare     F          11
               M           5
homemaker      F           6
               M           1
lawyer         M          10
               F           2
librarian      F          29
               M          22
marketing      M          16
               F          10
none           M           5
               F           4
other          M          69
               F          36
programmer     M          60
               F           6
retired        M          13
               F           1
salesman       M           9
               F           3
scientist      M          28
               F           3
student        M         136
               F          60
technician     M          26
               F           1
writer         M          26
               F          19
Name: count, dtype: int64

Now we need to calculate the number of users per occupation (adding M and F per occupation)

In [15]:
gender_counts = users.groupby(['occupation', 'gender']).size().unstack(fill_value=0)
gender_counts

gender          F    M
occupation
administrator  36   43
artist         13   15
doctor          0    7
educator       26   69
engineer        2   65
entertainment   2   16
executive       3   29
healthcare     11    5
homemaker       6    1
lawyer          2   10
librarian      29   22
marketing      10   16
none            4    5
other          36   69
programmer      6   60
retired         1   13
salesman        3    9
scientist       3   28
student        60  136
technician      1   26
writer         19   26

Gender counts: The groupby method with size() counts the occurrences of each gender within each occupation, and unstack is used to pivot the table so that each gender has its own column.
Total users per occupation: The sum(axis=1) method calculates the total number of users for each occupation by summing across the gender columns.

In [19]:
total_users_per_occupation = gender_counts['total'] = gender_counts.sum(axis=1)
total_users_per_occupation

occupation
administrator    316
artist           112
doctor            28
educator         380
engineer         268
entertainment     72
executive        128
healthcare        64
homemaker         28
lawyer            48
librarian        204
marketing        104
none              36
other            420
programmer       264
retired           56
salesman          48
scientist        124
student          784
technician       108
writer           180
dtype: int64

Percentage calculation: New columns male_percentage and female_percentage are calculated by dividing the count of each gender by the total count for each occupation and multiplying by 100 to get the percentage.

In [20]:
gender_counts['male_percentage'] = gender_counts['M'] / gender_counts['total'] * 100
gender_counts['female_percentage'] = gender_counts['F'] / gender_counts['total'] * 100

In [21]:

# Display the result
print(gender_counts[['male_percentage', 'female_percentage']])

gender         male_percentage  female_percentage
occupation
administrator        13.607595          11.392405
artist               13.392857          11.607143
doctor               25.000000           0.000000
educator             18.157895           6.842105
engineer             24.253731           0.746269
entertainment        22.222222           2.777778
executive            22.656250           2.343750
healthcare            7.812500          17.187500
homemaker             3.571429          21.428571
lawyer               20.833333           4.166667
librarian            10.784314          14.215686
marketing            15.384615           9.615385
none                 13.888889          11.111111
other                16.428571           8.571429
programmer           22.727273           2.272727
retired              23.214286           1.785714
salesman             18.750000           6.250000
scientist            22.580645           2.419355
student              17.346939           7.653061
technician           24.074074           0.925926
writer               14.444444          10.555556