<a href="https://colab.research.google.com/github/Angeliki1983/Pandas-Practice/blob/main/Python_pandas_Practice_Problems_UC_Berkeley_MIDS_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python pandas Practice Problems

Welcome to datascience@berkeley's collection of Python pandas practice problems.

To use this notebook, go to `File` --> `Save a copy in Drive` in the menu bar above to create a copy of this notebook on your computer. A new tab will open with the copy and you will be the owner. Your version will not be visible to anyone else.

A few notes to get you started:

* The space provided for code is not a line limit or hint. Add and use as many lines of code or additional cells as necessary.
* Lines preceded with '#' are comments and provide additional explanation but will not affect written code or execution.
* Solutions can be found in the complementary [Python pandas Practice Problems for Beginners - Solutions notebook](https://colab.research.google.com/drive/1f8PTrhgJR093fBth5Ka23KCWTIGbgPds?usp=sharing).
* Additional resources for the concepts used in each problem can be found at [the blog post here](https://ischoolonline.berkeley.edu/blog/python-pandas-practice-problems/).

\

In [2]:
# Import statements go here

import pandas as pd
import statsmodels.api as sm

## Importing Data and Making a DataFrame
The statsmodels package (installed in the code cell above) includes built-in datasets. Execute the code below to download data from the [American National Election Studies of 1996](https://www.statsmodels.org/dev/datasets/generated/anes96.html) and print a detailed description of the schema.

The next cell extracts the `Dataset` object from the submodule and saves the `DataFrame` to the variable `df`. In the questions that follow, use `df` when referencing the dataset.

In [3]:
anes96 = sm.datasets.anes96
print(anes96.NOTE)

::

    Number of observations - 944
    Number of variables - 10

    Variables name definitions::

            popul - Census place population in 1000s
            TVnews - Number of times per week that respondent watches TV news.
            PID - Party identification of respondent.
                0 - Strong Democrat
                1 - Weak Democrat
                2 - Independent-Democrat
                3 - Independent-Indpendent
                4 - Independent-Republican
                5 - Weak Republican
                6 - Strong Republican
            age : Age of respondent.
            educ - Education level of respondent
                1 - 1-8 grades
                2 - Some high school
                3 - High school graduate
                4 - Some college
                5 - College degree
                6 - Master's degree
                7 - PhD
            income - Income of household
                1  - None or less than $2,999
                2  - $3,000-$4,999
                3  - $5,000-$6,999
                4  - $7,000-$8,999
                5  - $9,000-$9,999
                6  - $10,000-$10,999
                7  - $11,000-$11,999
                8  - $12,000-$12,999
                9  - $13,000-$13,999
                10 - $14,000-$14.999
                11 - $15,000-$16,999
                12 - $17,000-$19,999
                13 - $20,000-$21,999
                14 - $22,000-$24,999
                15 - $25,000-$29,999
                16 - $30,000-$34,999
                17 - $35,000-$39,999
                18 - $40,000-$44,999
                19 - $45,000-$49,999
                20 - $50,000-$59,999
                21 - $60,000-$74,999
                22 - $75,000-89,999
                23 - $90,000-$104,999
                24 - $105,000 and over
            vote - Expected vote
                0 - Clinton
                1 - Dole
            The following 3 variables all take the values:
                1 - Extremely liberal
                2 - Liberal
                3 - Slightly liberal
                4 - Moderate
                5 - Slightly conservative
                6 - Conservative
                7 - Extremely Conservative
            selfLR - Respondent's self-reported political leanings from "Left"
                to "Right".
            ClinLR - Respondents impression of Bill Clinton's political
                leanings from "Left" to "Right".
            DoleLR  - Respondents impression of Bob Dole's political leanings
                from "Left" to "Right".
            logpopul - log(popul + .1)

In [5]:
dataset_anes96 = anes96.load_pandas()
df = dataset_anes96.data

## 1. DataFrame Basic Properties Exercise

Our DataFrame (`df`) contains data on registered voters in the United States, including demographic information and political preference. Using `pandas`, print the first 5 rows of the DataFrame to get a sense of what the data looks like. Next, answer the following questions:


*   How many observations are in the DataFrame?

We can use the shape() attribbute to get the number of observations (rows) and columns of a dataset:

In [ ]:
print("Number of rows in the DataFrame:",df.shape[0])  #number of rows

Number of rows in the DataFrame: 944

In [ ]:
df.head(5)

,popul,TVnews,selfLR,ClinLR,DoleLR,PID,age,educ,income,vote,logpopul
0,0.0,7.0,7.0,1.0,6.0,6.0,36.0,3.0,1.0,1.0,-2.302585
1,190.0,1.0,3.0,3.0,5.0,1.0,20.0,4.0,1.0,0.0,5.247550
2,31.0,7.0,2.0,2.0,6.0,1.0,24.0,6.0,1.0,0.0,3.437208
3,83.0,4.0,3.0,4.0,5.0,1.0,28.0,6.0,1.0,0.0,4.420045
4,640.0,7.0,5.0,6.0,4.0,0.0,68.0,6.0,1.0,0.0,6.461624

How many variables are measured (how many columns)?

In [ ]:
print("Number of columns in the dataset:", df.shape[1])

Number of columns in the dataset: 11

What is the age of the youngest person in the data? The oldest?

Lets have a look at our DataFrame and locate where the age column is :
Below we present the values of the age column only :

In [ ]:
df[['age']]

      age
0    36.0
1    20.0
2    24.0
3    28.0
4    68.0
..    ...
939  73.0
940  50.0
941  43.0
942  46.0
943  61.0

[944 rows x 1 columns]

But how do I find the youngest one? (As in the minimum age?)

In [6]:
minimum_age = df['age'].min()

In [7]:
minimum_age

19.0

To print all the details of the row that contains the minimum age, we can filter the DataFrame to get the row(s) where the age matches the minimum age.
Filter the DataFrame for rows where the age is equal to the minimum age.

In [8]:
minimum_age_info = df[df['age'] == minimum_age]

Print the resulting rows:

In [9]:
minimum_age_info

,popul,TVnews,selfLR,ClinLR,DoleLR,PID,age,educ,income,vote,logpopul
38,31.0,2.0,7.0,2.0,6.0,6.0,19.0,4.0,3.0,1.0,3.437208
63,350.0,2.0,3.0,3.0,6.0,1.0,19.0,3.0,4.0,0.0,5.858219
161,7300.0,3.0,5.0,3.0,6.0,1.0,19.0,4.0,11.0,0.0,8.895643

Finding the maximum age :

In [10]:
maximum_age = df['age'].max()

In [11]:
maximum_age

91.0

In [12]:
maximum_age_info = df[df['age'] == maximum_age]

In [13]:
maximum_age_info

,popul,TVnews,selfLR,ClinLR,DoleLR,PID,age,educ,income,vote,logpopul
82,0.0,6.0,4.0,3.0,6.0,2.0,91.0,1.0,5.0,0.0,-2.302585
105,3500.0,0.0,4.0,3.0,7.0,0.0,91.0,1.0,7.0,0.0,8.160547

 How many days a week does the average respondent watch TV news (round to the nearest tenth)?

In [17]:
df[['TVnews']]

     TVnews
0       7.0
1       1.0
2       7.0
3       4.0
4       7.0
..      ...
939     7.0
940     7.0
941     3.0
942     6.0
943     7.0

[944 rows x 1 columns]

Average respondent? Adding all values in Tvnews column then deviding by the number of entries(observations):

In [19]:
total_weekdays = df['TVnews'].sum()
total_weekdays

3519.0

In [21]:
average = total_weekdays / df.shape[0]
print("Days a week an average respondent watches TvNews is: ", round(average, 1))

Days a week an average respondent watches TvNews is:  3.7

*   Check for missing values. Are there any?

How can i check for missing valeus in an entire DataFrame? 
We can use the isnull() or isna() functions combined with sum() to get a count of missing values for each column.

In [24]:
# Check for missing values in the entire DataFrame:

missing_values = df.isnull()

In [25]:
missing_values

,popul,TVnews,selfLR,ClinLR,DoleLR,PID,age,educ,income,vote,logpopul
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
939,False,False,False,False,False,False,False,False,False,False,False
940,False,False,False,False,False,False,False,False,False,False,False
941,False,False,False,False,False,False,False,False,False,False,False
942,False,False,False,False,False,False,False,False,False,False,False
943,False,False,False,False,False,False,False,False,False,False,False

Since I cant see the entire dataframe, I am still not sure whether there are any missing values to it. What if I combine it with sum() .This will count the number of missing values in each column, giving us a clear picture of the DataFrame's overall completeness.
This will give the count of missing values in each column.

In [33]:
# 2. Check for missing values count in each column
count_missing_values = df.isnull().sum()
count_missing_values

popul       0
TVnews      0
selfLR      0
ClinLR      0
DoleLR      0
PID         0
age         0
educ        0
income      0
vote        0
logpopul    0
dtype: int64

This will give the total count of missing values in the entire DataFrame.

In [32]:
# 3. Check for total missing values count in the entire DataFrame
total_missing_values = df.isnull().sum().sum()
print("\nTotal missing values in the DataFrame:")
print(total_missing_values)

Total missing values in the DataFrame:
0

## 2. Data Processing Exercise

We want to adjust the dataset for our use. Do the following:


*   Rename the `educ` column `education`.
*   Create a new column called `party` based on each respondent's answer to `PID`. `party` should equal `Democrat` if the respondent selected either Strong Democrat or Weak Democrat. `party` will equal `Republican` if the respondent selected Strong or Weak Republican for `PID` and `Independent` if they selected anything else.
*   Create a new column called `age_group` that buckets respondents into the following categories based on their `age`: 18-24, 25-34, 35-44, 45-54, 55-64, and 65 and over.

In [ ]:
# Your code here

## 3. Filtering Data Exercise

Use the filtering method to find all the respondents who have the impression that Bill Clinton is moderate or conservative (`ClinLR` equals 4 or higher). How many respondents are in this subset?

Among these respondents, how many have a household income less than $50,000 and attended at least some college?

In [ ]:
# Your code here

## 4. Calculating From Data Exercise

For each of the below match-ups, choose the group that is more likely to vote for Bill Clinton. You can calculate this using the percentage of each group that intends to vote for Clinton (`vote`). Which match-up was the closest? Which had the biggest difference?

Another way to think about this: Given that a respondent is a Democrat, there is a ____ percent chance they will vote for Clinton. How does this value change if the respondent is a Republican?

*   Democrats or Republicans
*   People younger than 44 or People 44 and older
*   People who watch TV news at least 6 days a week or People who watch TV news less than 3 days a week
*   People who live somewhere with a population greater than the average respondent or People who live in a place with a population equal to or less than the average respondent

In [ ]:
# Your code here

## 5. Grouping Data Exercise

Use the `groupby()` method to bucket respondents by `age_group`. Which age group is the most conservative? Which watches TV news the least?

Next, calculate 5 percentile groups based on income. Group the dataset by these percentiles. Which income bracket is the most liberal? Which is the most conservative? The oldest? Highest educated?

In [ ]:
# Your code here

## 6. Voting Across the Aisle

We are interested in learning more about respondents who's political views differ strongly from the candidate they expect to vote for. Using `selfLR`, `vote`, `ClinLR`, and `DoleLR`, work through the following questions. Your interpretation may differ from the answer key.

*   What is the largest recorded difference between a respondent's political leaning and their impression of their intended candidate's political leaning?
*   How many respondents exhibit a difference of that magnitude?
*   Make a separate DataFrame called `sway` that only includes voters who exhibit a difference greater than |3|.
*   Among those in `sway`, are respondents more likely to be voting for a candidate more conservative or more liberal than their own political leaning?
*   In `sway`, which candidate is the more popular choice?

In [ ]:
# Your code here

# BSD 3-Clause License

*Copyright (c) 2022, UC Berkeley School of Information*

*All rights reserved.*

*Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:*

*1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.*

*2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.*

*3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.*

*THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.*